@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  background-color: gainsboro;
  text-align: center;
  color: #385170;
}

.container {
  max-width: 20rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

h1 {
  margin-bottom: 2rem;
}

.form_input {
  display: block;
  margin: 1em auto;
  width: 70%;
  background-color: #385170;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.form_input::placeholder {
  color: white;
}

button {
  background-color: #385170;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 1em;
}

.userIcon {
  max-width: 40%;
  background-color: #385170;
  padding: 15px;
  border-radius: 50%;
  position: relative;
  bottom: 20px;
}